# Note that not all variables here might be in use for your selected configuration

# When adding additional env variables, the schema in /env/schema.mjs should be updated accordingly

POSTGRES_USER=myuser
POSTGRES_PASSWORD=mypassword
POSTGRES_DB=mydb
DATABASE_URL=postgresql://myuser:mypassword@localhost:5432/mydb

