POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432
POSTGRES_USER=admin
POSTGRES_PASSWORD=password123
POSTGRES_DB=senchabot

DATABASE_URL=postgresql://admin:password123@localhost:5432/senchabot?schema=public

PGADMIN_DEFAULT_EMAIL=admin@senchabot.app
PGADMIN_DEFAULT_PASSWORD=password123