@font-face {
  font-family: "reem";
  src: url("fonts/Reem_Kufi/ReemKufi-Regular.ttf");
}

@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap");

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  /*font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;*/
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
