# Note that not all variables here might be in use for your selected configuration

# When adding additional env variables, the schema in /env/schema.mjs should be updated accordingly

# App

NEXT_PUBLIC_APP_NAME="Senchabot"
NEXT_PUBLIC_APP_URL=https://senchabot.dev

NEXT_PUBLIC_APP_GITHUB_PROFILE="https://github.com/senchabot-dev"
NEXT_PUBLIC_APP_TWITTER_PROFILE="https://twitter.com/senchabot"

NEXT_PUBLIC_APP_DOMAIN_STRING="senchabot.dev"
NEXT_PUBLIC_APP_CONTENT_STRING="All Bots and Stream overlays, Manage from one place!"

NEXT_PUBLIC_APP_DISCORD_BOT_INVITE_URL="https://discord.com/api/oauth2/authorize?client_id=1039550209274945587&permissions=2199022698327&scope=bot%20applications.commands"

# Prisma
POSTGRES_USER=myuser
POSTGRES_PASSWORD=mypassword
POSTGRES_DB=mydb
DATABASE_URL=postgresql://myuser:mypassword@localhost:5432/mydb

# Next Auth

NEXTAUTH_SECRET=""
NEXTAUTH_URL=http://localhost:3000

# Next Auth Discord Provider

DISCORD_CLIENT_ID=""
DISCORD_CLIENT_SECRET=""

GITHUB_CLIENT_ID=""
GITHUB_CLIENT_SECRET=""

TWITCH_CLIENT_ID=""
TWITCH_CLIENT_SECRET=""

GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
