# database url
DATABASE_URL=mysql://myuser:mypassword@localhost:3306/mydb

# bot token
TOKEN=
# bot id
CLIENTID=
# discord server id
GUILDID=

TWITCH_CLIENT_ID=
TWITCH_CLIENT_SECRET=

# role
ROLE_NAME=""

# sub roles
# sub role ids. For example: XXXXXX,YYYYYY
SUB_ROLES=
# exclusive role
# role name
EXCLUSIVE_ROLE_NAME=""

# reaction role rules message content starts with
REACTION_RULES_MESSAGE_STARTSWITH=""
# reaction role rules channel name
REACTION_RULES_CHANNEL_NAME="rules"
# reaction role emoji name
REACTION_EMOJI_NAME="👍"
# reaction role reaction role name
REACTION_ROLE_NAME=""
