

@keyframes changeWidth {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}

.bootLineAnimation {
  -webkit-animation: changeWidth 1500ms alternate ease-in-out;
  animation: changeWidth 1500ms alternate ease-in-out;
}

@-webkit-keyframes lineBlink {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes lineBlink {
  from {opacity: 0;}
  to {opacity: 1;}
}

.lineAnimation {
  -webkit-animation: lineBlink 500ms alternate infinite ease-in-out;
  animation: lineBlink 500ms alternate infinite ease-in-out;
}

@keyframes inputVisibilityB {
  0%,
  50% {
    ph: visible;
  }
  51%,
  100% {
    ph: hidden;
  }
}

.input {
  animation: inputVisibilityB 0.8s infinite alternate;
  transition: border-color 0.1s, color 0.1s, text-shadow 0.1s, transform 0.3s;
  /*transition: border-color 0.1s, color 0.1s, text-shadow 0.1s, transform 0.1s 0.5s;*/
}

:focus::placeholder {
  opacity: 0;
}
:disabled {
  transform: translateY(70px);
}
::placeholder {
  font-weight: bold;
  transition: opacity 0.5s, color 0.1s;
  visibility: var(ph);
}


.agreementButton {
  font-weight: bold;
  user-select: none;
  border-style: solid;
  border-color: white;
}
.agreementButton:hover {
  color: black;
  background: white;
}

.cfgMenuButton {
  font-weight: bold;
  user-select: none;
}
/*.bootButton:hover {
  color: black;
  background: white;
}*/